@{
    ViewBag.Title = "Breeze";
}
<link type="text/css" href="http://breeze.ru/stylesheets/export.css" rel="stylesheet" />

<h2>Breeze</h2>

<div id="197b2fbdc916aabd8e87cf6792e1b96bbc20b1b2" class="content"></div>
	
<script src="http://breeze.ru/export/script?partner=197b2fbdc916aabd8e87cf6792e1b96bbc20b1b2" type="text/javascript" charset="utf-8"></script>
