@{
    ViewBag.Title = "Staff";
}
<div style="overflow:hidden; padding:15px">
	<h2>Staff</h2>

	<div class="vizitka pull-left">
		<div class="img-container">
			<img src="~/Images/Staff/DSC07271.jpg" />
		</div>
		<div class="name">
			Sokolova Elena Viktorovna
		</div>
		<div class="job">
			General Director
		</div>
		<div class="contact">
			phone: 213- 15 -14
		</div>
	</div>

	<div class="vizitka pull-right">
		<div class="img-container">
			<img src="~/Images/Staff/P3145054.jpg"/>
		</div>
		<div class="name">
			Sokolov Evgeniy Michailovich
		</div>
		<div class="job">
			Asia specialist
		</div>
		<div class="contact">
			phone: 213- 15 -14
		</div>
	</div>
</div>


