
<label class="control-label">Город вылета</label>
<select class="form-control" style="width: 150px;">
    <option>Не выбрано</option>
    <option>Новосибирск</option>
    <option>Москва</option>
</select>

<div class="form-group">
    <label class="control-label">Куда</label>

    <select class="form-control" style="width: 150px;">
        <option>Не выбрано</option>
        <option>Европа</option>
        <option>Азия</option>
        <option>Россия</option>
        <option>Америка</option>
    </select>
</div>

<div class="form-group">
    <label class="control-label">Взрослых</label>

    <select class="form-control" style="width: 150px;">
        <option>Не выбрано</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
</div>
<div class="form-group">
    <label class="control-label">Цена от</label>
    <input type="text" class="search-query" disabled placeholder="Цена от" style="width: 150px;" />
</div>

<div class="form-group">
    <label class="control-label">Цена до</label>
    <input type="text" class="search-query" disabled placeholder="Цена до" style="width: 150px;" />
</div>

<div class="form-group">
    <button type="submit" disabled class="btn btn-info ">Искать тур</button>
</div>

<div class="form-group">
    <label class="control-label">Почта</label>
    <input type="text" class="search-query" disabled placeholder="e-mail" style="width: 150px;" />
</div>

<div class="form-group">
    <button type="submit" disabled class="btn btn-info ">Оставить заявку</button>
</div>