<!-- Gismeteo informer START -->
<link rel="stylesheet" type="text/css" href="http://www.gismeteo.ru/static/css/informer2/gs_informerClient.min.css">
<div id="gsInformerID-4ceHA7hdGPo7dT" class="gsInformer" style="width:312px;height:385px">
  <div class="gsIContent">
   <div id="cityLink">
     <a href="http://www.gismeteo.ru/city/daily/4690/" target="_blank">Погода в Новосибирске</a>
   <br />
<a href="http://www.gismeteo.ru/city/daily/4368/" target="_blank">Погода в Москве</a>
   <br />
<a href="http://www.gismeteo.ru/city/daily/5529/" target="_blank">Погода в Дубаи</a>
   <br />
<a href="http://www.gismeteo.ru/city/daily/6002/" target="_blank">Погода в Пхукете</a>
   <br />
<a href="http://www.gismeteo.ru/city/daily/6618/" target="_blank">Погода в Хургаде</a>
   <br />
<a href="http://www.gismeteo.ru/city/daily/5993/" target="_blank">Погода в Бангкоке</a>
   <br />
<a href="http://www.gismeteo.ru/city/daily/1948/" target="_blank">Погода в Барселоне</a>
   <br />
<a href="http://www.gismeteo.ru/city/daily/7150/" target="_blank">Погода в Вашингтоне</a>
   <br />
<a href="http://www.gismeteo.ru/city/daily/744/" target="_blank">Погода в Лондоне</a>
   <br />
<a href="http://www.gismeteo.ru/city/daily/1623/" target="_blank">Погода в Париже</a>
   <br />
<a href="http://www.gismeteo.ru/city/daily/2952/" target="_blank">Погода в Праге</a>
   <br />
<a href="http://www.gismeteo.ru/city/daily/2911/" target="_blank">Погода в Вена</a>
   <br />
<a href="http://www.gismeteo.ru/city/daily/2391/" target="_blank">Погода в Берлине</a>
   </div>
   <div class="gsLinks">
     <table>
       <tr>
         <td>
           <div class="leftCol">
           </div>
           <div class="rightCol">
             <a href="http://www.gismeteo.ru/" target="_blank">Прогноз на 2 недели</a>
           </div>
           </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="http://www.gismeteo.ru/ajax/getInformer/?hash=4ceHA7hdGPo7dT" type="text/javascript"></script>