<div class="page about">
    <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=MXAXBt5DODYBIC5xdLX5gx1AJ00Tt9Ys&width=700&height=300&id=yamap"></script>
    
    <h2>ООО Туристическая  Компания “Столица Сибири”</h2>
    <div class="description">
        <p>Государственный регистрационный номер: 1035401498098</p>

        <img class="img-thumbnail pageImage1" src="/Images/Pages/About1.jpg" alt="">

        <br />
        <p>Туристическая компания “Столица Сибири была создана в 2003 году. К тому времени учредители компании имели за своими плечами огромный опыт работы в туризме. На протяжение 12 лет компания крепла и обретала всё новых и новых благодарных клиентов.</p>
        <br />

        <p>
            Ценностями компании с начала ее образования были <ul>
                <li><b>профессионализм</b></li>
                <li><b>индивидуальный подход</b></li>
                <li><b>надежность</b></li>
                <li>и теплые, доверительные, <b>открытые отношения</b> с нашими клиентами.</li>
            </ul>
        </p>
        <p>
            <b>Профессионализм</b>
        </p>
        <p>
            Скидки, акции и спецпредложения  на нашем сайте мы подбираем у отелей, туроператоров и партнеров. Нашим клиентам помогаем профессионально сделать самую выгодную покупку среди многообразия выбора.
            Мы стремимся к профессионализму и стабильности в работе, к  высокому качеству  обслуживания наших клиентов!
            Сотрудники компании - это не только неотъемлемая и важнейшая часть бизнес-процесса, но и члены большой дружной семьи.
        </p>
        <p>
            <b>Индивидуальный подход</b>
        </p>
        <p>
            Отношения в цепочке клиент - агент основаны на взаимном доверии и уважении. Конечная цель деятельности компании - сделать качественный отдых доступным для всех категорий населения страны.
            Осуществляется всесторонний контроль качества всех составляющих турпродукта на каждом этапе его формирования, продвижения и реализации. Компания стремится к тому, чтобы каждый турист остался доволен  выбранным  отдыхом. Наша задача предложить именно то, что понравиться Вам, мы стремимся учесть все Ваши пожелания к предстоящему отдыху.
        </p>
        <p>
            <b>Надежность</b>
        </p>
        <p>
            Наши специалисты постоянно собирают информацию о стабильности  работы наших  партнеров из различных открытых и закрытых источников. Мы стараемся работать с надежными и верными партнерами  Отношения с партнерами основаны на принципах открытости и порядочности, без чего невозможно строить успешный бизнес
            Отношения с партнерами строятся на долгосрочной взаимовыгодной основе. Именно поэтому все партнеры компании являются ее верными друзьями.
        </p>
        <p>
            <b>Открытые отношения</b>
        </p>
        <p>
            Мы на связи с нашими клиентами 24 часа в сутки. Клиенты имеют возможность связаться с клиентским сервисом нашей компании для оперативного решения любой задачи или вопроса в своей  поездке. МЫ стараемся, чтобы каждый наш клиент возвращался из путешествия с массой положительных эмоций
        </p>
        <p>
            <b>Достижения</b>
        </p>
        <p>Офис агентства находиться в центре города Новосибирск, в 10 минутах хотьбы от площади им. Ленина и одноименной станции метро по адресу Коммунистическая 48а, офис 605.</p>
        <div id="yamap"></div>
        <p>
            За время своей деятельности компания СТОЛИЦА СИБИРИ неоднократно удостаивалась престижных дипломов, благодарственных писем и сертификатов
        </p>
        <br/>
        <p>
            Наши менеджеры помогут реализовать пожелания любых, даже самых взыскательных клиентов!
            <b>Звоните!</b>
            <b>(383) 213-15-14</b>
            <b>(383) 287-22-48</b>
        </p>
    </div>
</div>