<div class="page vacancies">
    <h2>Требуется</h2>

    <h3><span class="label label-info">Менеджер по туризму</span></h3>
    <br />

    <table>
        <tr>
            <td style="width:50%"> <b>Зарплата</b></td>
            <td style="width:50%"> По результатам собеседования</td>
        </tr>

        <tr>
            <td> <b>Занятость</b></td>
            <td> Пять дней в неделю, полный рабочий день</td>
        </tr>

        <tr>
            <td> <b>Место работы</b></td>
            <td> Новосибирск, Коммунистическая, 48а</td>
        </tr>
    </table>

    <div>
        <div>
            <h3>Описание</h3>
            <p>Консультация, подготовка документов, работа с клиентами, cпециалист по направлениям Турция, Таиланд, Испания, Египет.</p>
            <h3>Обязанности:</h3>
           
            <ul>
                <li>Консультирование, ответы на вопросы клиентов по турпродукту (на телефоне, по e-mail, при личной беседе).</li>
                <li>Прием заявок клиентов. При необходимости уточнение заявок, предложение альтернативных вариантов, поддержание обратной связи.</li>
                <li>Обработка заявок, бронирование туров по полученным заявкам в принимающих компаниях, в партнерских фирмах.</li>
                <li>Составление маршрутов и расчет индивидуальных туров.</li>
                <li>Подбор и бронирование отелей в системах бронирования принимающих компаний и партнерских фирм.</li>
                <li>Оформление документов на тур, формирование пакета документов на тур для клиентов, отправка и/или выдача документов клиентам.</li>
                <li>Оформление документов для получения виз.</li>
            </ul>
            <p>
                У нас приходится очень многому приходится учиться. Массе новых вещей, которые вы раньше никогда не делали. Причем обычно в личное время, поскольку в рабочее придется работать.<br>
                У нас не высокие фиксированные оклады, большая часть – проценты – все зависит от ваших конкретных результатов
            </p>
            <h3>Навыки и опыт</h3>
            <ul>
                <li>гражданство РФ</li>
                <li>знание всех крупных операторов Новосибирска и Москвы</li>
                <li>грамотная речь‚ навыки общения с людьми</li>
                <li>уверенное пользование ПК</li>
                <li>самостоятельность, инициативность, аккуратность</li>
                <li>теоретические знания: механизм турагентство-туроператор, составляющие турпродукта, туризм и его типы, основная терминология рынка туристских услуг и тд.</li>
                <li>опыт работы не обязателен</li>
            </ul>
            <p><i>Резюме отправлять на почту или звонить по телефону</i></p>
        </div>

        <h4>Контакты</h4>
        <div>
            <span>Туристическое агентство 000 "Столица Сибири"</span>

            <div>Почта: <a href="mailto:s5sibir@yandex.ru" class="label label-default">s5sibir@yandex.ru</a></div>
            <div>+7 (383) 213-15-14</div>
            <div>+7 (383) 287-22-48</div>
            <div>Соколова Елена Викторовна</div>
        </div>
    </div>
    <br />
</div>